[alias]
	s = status
	l = log
	c = commit
  co = checkout
  p = push
[core]
	editor = nvim
	excludesfile = ~/.gitignore_global
[user]
	name = Pooria
	email = pooria@hey.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[credential]
	helper = 
	helper = /usr/local/share/gcm-core/git-credential-manager-core
[credential "https://dev.azure.com"]
	useHttpPath = true
[core]
    hooksPath = ~/repos/config/hooks
