[alias]
	s = status
	l = log
	c = commit
  co = checkout
  p = push
[core]
	editor = vim
	excludesfile = ~/.gitignore_global
[user]
	name = Pooria
	email = pooria@hey.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
